// ----- CARDS ----- //
.card{
    background-color: $white;
    box-shadow: 1px 1px 16px 5px rgba(0, 0, 0, 0.05);
    margin-bottom: 1.75rem;
    display: block;
    @include respond-to(sm){
        margin-bottom: 1.25rem;
    }
    .card-body{
        @include flex;
        padding: 1.4rem 1.7rem 1.4rem 1.5rem;
        @include respond-to(sm){
            padding: 0.7rem 0.9rem 1.1rem 0.9rem;
        }
    }
    .card-body-col{
        flex: 1;
        &:last-child{
            flex: 0 0 28%;
            max-width: 28%;
            @include flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    .card-image{
        width: 100%;
        max-height: 6rem;
        object-fit: cover;
        margin-top: 0.1rem;
        @include respond-to(sm){
            width: 4.3125rem;
            height: 4.5rem;
            margin-left: auto;
        }
    }
    .time {
        font-size: 0.875rem;
        font-weight: 500;
        font-family: $font-family-heading;
        line-height: 1rem;
        margin-bottom: -0.1rem;
    }
    h5{
        color: $purple;
        margin-bottom: 0.6rem;
        @include respond-to(sm){
            margin-bottom: 0rem;
        }
    }
    .card-text{
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 500;
        margin-bottom: -0.2rem;
    }
    .card-info {
        margin-top: 0.6rem;
        @include respond-to(sm){
            margin-top: 0.55rem;
        }
        li{
            @include flex;
            align-items: flex-start;
            font-size: 0.875rem;
            margin-bottom: -0.25rem;
            img{
                flex: 0 0 0.625rem;
                max-width: 0.625rem;
                max-height: 0.625rem;
                margin-right: 0.7rem;
                margin-top: 0.4rem;
                @include respond-to(sm){
                    margin-right: 0.5rem;
                }
            }
        }
    }
    .btn--enquiry{
        padding: 0.35rem 0.2625rem;
        width: 100%;
        margin-top: auto;
        margin-bottom: 0.2rem;
    }
    .btn-mob{
        display: none;
        @include respond-to(lg){
            display: inline-block;
            padding: 0.4rem 0.6625rem;
            margin-left: -0.8rem;
            width: auto;
            margin-bottom: 0.1rem;
            height: 2rem;
        }
    }
    .btn-desk{
        @include respond-to(lg){
            display: none;
        }
    }
    &--category{
        h3{
            font-size: 1.5625rem;
            font-weight: 500;
            line-height: 2.1875rem;
            color: $purple;
            margin-top: -0.2rem;
            margin-bottom: 0.6rem;
        }
        p{
            font-weight: 500;
            font-size: 0.875rem;
            line-height: 1.375rem;
            max-width: 20rem;
        }
        .card-image {
            max-height: 6.5rem;
        }
        .card-body-col:last-child {
            flex: 0 0 26.8%;
            max-width: 26.8%;
        }
    }
    &--date{
        @include flex;
        font-size: 0.875rem;
        line-height: 1rem;
        border-bottom: 1px solid rgb(157 157 156 / 25%);
        align-items: flex-start;
        padding: 0.8rem 0;
        box-shadow: none;
        margin-bottom: 0;
        .card-title{
            color: $purple;
            letter-spacing: 0.5px;
            font-weight: 500;
            font-family: $font-family-heading;
            flex: 0 0 15rem;
            max-width: 15rem;
        }
        .time{
            font-family: $font-family-heading;
            letter-spacing: 0.5px;
            flex: 0 0 8.8rem;
            max-width: 8.8rem;
        }
        .period{
            font-size: 1rem;
            line-height: 0.875rem;
        }
        .day{
            font-weight: 600;
            font-size: 0.9375rem;
            flex: 0 0 3rem;
            max-width: 3rem;
        }
    }
    &--contact{
        background-color: $pink_tint;
        position: relative;
        box-shadow: none;
        padding: 0.8rem 1.9rem 1.2rem;
        overflow: hidden;
        @include respond-to(sm){
            margin: -0.3rem -1.5rem 1.25rem;
        }
        &::after{
            content: '';
            background-image: url(../img/icon-speech-bubble-pink.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 8.125rem;
            height: 8.3125rem;
            position: absolute;
            right: -1.5rem;
            top: -1.9rem;
            transform: rotate(-0.43deg);
            opacity: 0.1;
            @include respond-to(sm){
                right: 0.1rem;
            }
        }
        .card-title{
            font-weight: 500;
            font-family: $font-family-heading;
            margin-bottom: 0.3rem;
        }
        ul{
            li{
                margin-bottom: 0.2rem;
            }
            a{
                @include flex;
                align-items: center;
                color: $dark_grey;
                img{
                    flex: 0 0 0.75rem;
                    max-width: 0.75rem;
                    margin-right: 1rem;
                    object-fit: contain;
                    max-height: 0.75rem;
                }
            }
        }
        .social {
            margin-top: 0.8rem;
            @include flex;
            a{
                width: 1.75rem;
                height: 1.75rem;
                display: block;
                margin-right: 0.6rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        .btn--enquiry{
            width: auto;
            position: absolute;
            bottom: 1.1rem;
            right: 1.1rem;
            padding: 0.3rem 0.8625rem;
            margin-bottom: 0;
            @include respond-to(sm){
                right: 1.3rem;
                padding: 0.3rem 0.7625rem;
            }
        }
    }
    &--list{
        background-color: $white;
        padding: 1.1rem 1rem 1.5rem;
        @include respond-to(sm){
            padding: 0.9rem 1.3rem 2.1rem;
        }
        li{
            border-bottom: 1px solid rgb(0 0 0 / 25%);
            padding: 0.5rem 0;
            @include respond-to(sm){
                padding: 0.47rem 0;
            }
            a{
                color: $purple;
                font-size: 1rem;
                line-height: 1.375rem;
                font-family: $font-family-heading;
                font-weight: 500;
                @include flex;
                align-items: center;
                padding-right: 2rem;
                position: relative;
                color: $purple;
                &::after{
                    content: '';
                    background-image: url(../img/icon-arrow-pink.svg);
                    background-repeat: no-repeat;
                    margin-left: auto;
                    width: 0.4rem;
                    height: 0.6rem;
                    background-size: contain;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0.8rem;
                    margin: auto 0;
                    @include respond-to(sm){
                        width: 0.5rem;
                        right: 0.3rem;
                        height: 0.65rem;
                    }
                }
            }
        }
    }
    &--image{
        background-color: transparent;
        box-shadow: none;
        .image-wrap{
            width: 100%;
            overflow: hidden;
            height: 13rem;
            background-color: #E3E0E0;
            margin-bottom: 0.9rem;
            display: block;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        h4{
            color: $purple;
            margin-bottom: 0.6rem;
        }
        .btn{
            margin-top: 0.9rem;
        }
    }
    &--news{
        box-shadow: none;
        background-color: transparent;
        @include flex;
        > div{
            flex: 1;
        }
        .image-wrap{
            width: 7rem;
            flex: 0 0 7rem;
            height: 7.5rem;
            background-color: #E3E0E0;
            margin-right: 1rem;
        }
        .card-label {
            margin-top: -0.4rem;
            margin-bottom: 0.1rem;
        }
        h4{
            color: $purple;
            margin-bottom: 0.4rem;
        }
        p{
            max-width: 10rem;
            margin-bottom: 0;
        }
    }
    &--news-sm{
        .image-wrap{
            width: 4.3125rem;
            flex: 0 0 4.3125rem;
            height: 4.5rem;
            margin-right: 0.7rem;
        }
        .card-label{
            margin-top: -0.5rem;
            margin-bottom: 0.3rem;
        }
    }
    &--category-image{
        position: relative;
        @include flex-center-center;
        margin-bottom: 2.5625rem;
        box-shadow: none;
        height: 10.625rem;
        width: 100%;
        @include border-radius(0.125rem);
        overflow: hidden;
        text-align: center;
        padding: 0 1rem;
        @include respond-to(md){
            height: 8rem;
            margin-bottom: 1rem;
        }
        @include respond-to(xs){
            height: 6rem;
        }
        &:hover{
            img{
                transform: scale(1.1);
                transition: 0.4s;
            }
        }
        &::after{
            content: '';
            background-color: $purple;
            opacity: 0.7;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.4s;
            transform: scale(1);
        }
        h3{
            margin-bottom: 0;
            text-transform: uppercase;
            color: $white;
            position: relative;
            z-index: 10;
            font-size: 1.75rem;
            line-height: 2.4rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
            letter-spacing: 0.5px;
            @include respond-to(md){
                font-size: 1rem;
                line-height: 1.375rem;
                margin-bottom: 0.2rem;
            }
        }
    }
    &--search-results{
        box-shadow: none;
        background-color: transparent;
        h4{
            color: $purple;
            margin-bottom: 0.6rem;
        }
    }
    &--listing {
        padding: 0.6rem 1.4rem;
        color: $dark_grey;
        box-shadow: none;
        .card-title{
            color: $purple;
            letter-spacing: 0.5px;
            font-weight: 500;
            font-family: $font-family-heading;
        }
        h5{
            color: $dark_grey;
            margin-bottom: 0rem;
            letter-spacing: 0.5px;
        }
        p{
            font-size: 0.875rem;
            line-height: 1.375rem;
            margin-bottom: -0.25rem;
        }
        .distance{
            @include flex;
            align-items: center;
            font-size: 0.875rem;
            line-height: 1.375rem;
            margin-top: 0.4rem;
            img{
                flex: 0 0 0.52rem;
                max-width: 0.55rem;
                margin-right: 0.5rem;
                max-height: 0.625rem;
                object-fit: contain;
            }
        }
    }
    &--listing-image{
        @include flex;
        padding: 0.9rem 1rem 1.2rem;
        border-bottom: 1px solid rgb(157 157 156 / 25%);
        @include respond-to(sm){
            padding: 0.75rem 0.8rem 0.8rem;
        }
        > div {
            flex: 1;
        }
        .card-image{
            flex: 0 0 5.375rem;
            max-width: 5.375rem;
            @include flex;
            justify-content: center;
            height: 3.8125rem;
            margin-right: 1.1rem;
            @include respond-to(sm){
                margin-right: 0.8rem;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .card-title{
            margin-bottom: 0rem;
            margin-top: 0.3rem;
            line-height: 1.475rem;
            font-size: 1.125rem;
            @include respond-to(sm){
                font-size: 1rem;
                line-height: 1.375rem;
                margin-bottom: -0.1rem;
            }
        }
        h5 {
            margin-bottom: 0.5rem;
            line-height: 1.475rem;
            font-size: 1.125rem;
            @include respond-to(sm){
                font-size: 1rem;
                line-height: 1.375rem;
                margin-bottom: 0.35rem;
            }
        }
        .distance {
            margin-top: 0.3rem;
            font-size: 1rem;
            @include respond-to(sm){
                font-size: 0.875rem;
            }
        }
        p{
            margin-bottom: 0rem;
            @include respond-to(sm){
                margin-bottom: -0.1rem;
            }
        }
    }
    &--listing-featured{
        padding: 0;
        .card-body{
            @include flex;
            box-shadow: 1px 1px 16px 5px rgba(0, 0, 0, 0.05);
            padding: 0.7rem 0.9rem 1.2rem 0.9rem;
            > div{
                flex: 1;
                &:first-child{
                    flex: 0 0 69%;
                    max-width: 69%;
                }
            }
            .right-col{
                @include flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
            }
        }
        .card-image{
            width: 4.3125rem;
            height: 4.5rem;
            object-fit: cover;
            margin-bottom: auto;
        }
        .band{
            padding: 0 0.6rem;
        }
        .btn{
            margin-left: -0.5rem;
        }
        .card-info {
            margin-top: 0.55rem;
            li{
                img{
                    margin-right: 0.4rem;
                }
            }
        }
    }
    &--listing-two{
        .card-body{
            padding-right: 1rem;
            padding-top: 0.65rem;
            padding-bottom: 0.9rem;
        }
        .card-image {
            margin-top: 0.2rem;
            width: 4.5rem;
        }
        .card-title{
            margin-right: -1rem;
        }
        .btn{
            margin-bottom: 0.1rem;
        }
    }
    &--post{
        color: $purple;
        .image-wrap{
            height: 15.125rem;
            margin-bottom: 1.2rem;
        }
        .category{
            display: block;
            text-transform: uppercase;
            font-size: 0.875rem;
            line-height: 1rem;
            letter-spacing: 0.5px;
            font-family: $font-family-heading;
            font-weight: 500;
            margin-bottom: 0.5rem;
        }
        a{
            color: $purple;
        }
    }
    &--founder{
        box-shadow: none;
        background-color: transparent;
        @include flex;
        > div{
            flex: 1;
        }
        .image-wrap{
            flex: 0 0 10.4375rem;
            margin-right: 2.4rem;
            margin-top: 0.5rem;
            @include respond-to(sm){
                flex: 0 0 6rem;
                margin-right: 1.9rem;
                text-align: center;
                margin-top: 0.2rem;
            }
            img{
                @include border-radius(50%);
                width: 10.4375rem;
                height: 10.4375rem;
                @include respond-to(sm){
                    width: 6rem;
                    height: 6rem;
                }
            }
            h3{
                display: none;
                @include respond-to(sm){
                    display: block;
                    font-size: 1rem;
                    line-height: 1.375rem;
                    margin-top: 0.5rem;
                }
            }
        }
        h3{
            margin-bottom: 1rem;
            color: $purple;
            @include respond-to(sm){
                display: none;
            }
        }
        .btn{
            margin-top: 0.5rem;
            @include respond-to(sm){
                margin-top: 0.3rem;
            }
        }
    }
    &--expanded{
        background-color: transparent;
        box-shadow: none;
        @include border-radius(0);
        margin-bottom: 2.2rem;
        @include respond-to(sm){
            margin-bottom: 1.2rem;
        }
        .card-head{
            border-bottom: 1px solid rgb(54 58 60 / 25%);
            padding-bottom: 0.4rem;
            @include respond-to(sm){
                padding-bottom: 0rem;
            }
        }
        .card-image{
            max-height: 20.25rem;
            margin-bottom: -0.5rem;
            @include respond-to(sm){
                width: 100%;
                height: 21.75rem;
                margin-top: 0;
                margin-bottom: 0.1rem;
            }
            @include respond-to(xs){
                height: 9.75rem;
            }
        }
        .card-title{
            margin-top: 2.25rem;
            @include flex;
            @include respond-to(sm){
                flex-direction: column;
                margin-top: 1.2rem;
                padding: 0 1.5rem;
            }
            h3{
                margin-bottom: 0.1rem;
                color: $purple;
                @include respond-to(sm){
                    font-size: 1rem;
                    line-height: 1.3125rem;
                    margin-bottom: 0rem;
                }
            }
            .underline{
                color: $dark_grey;
                text-decoration: underline;
                margin-bottom: 1rem;
                @include respond-to(sm){
                    margin-bottom: 0.4rem;
                }
            }
            > div{
                flex: 1;
                @include respond-to(sm){
                    order: 2;
                }
            }
            > img{
                width: 9.8125rem;
                margin-left: auto;
                height: 7.375rem;
                object-fit: contain;
                margin-top: -1.5rem;
                @include respond-to(sm){
                    order: 1;
                    margin-left: 0;
                    width: 6.5625rem;
                    height: 4.625rem;
                    margin-bottom: 0.3rem;
                }
            }
            p{
                font-family: $font-family-heading;
            }
        }
        .card-body{
            padding: 0.2rem 0.1rem;
            flex-direction: column;
            align-items: flex-start;
            @include respond-to(sm){
                padding: 0.4rem 3rem 0.4rem 3.5rem;
            }
        }
        .card-info{
            width: 100%;
            margin-bottom: 1.7rem;
            @include respond-to(sm){
                margin-bottom: 0.2rem;
            }
            li{
                font-size: 1rem;
                line-height: 1.375rem;
                margin-bottom: 0.35rem;
                @include respond-to(sm){
                    margin-bottom: 0.4rem;
                    position: relative;
                }
                img{
                    max-width: 0.6875rem;
                    max-height: 0.6875rem;
                    flex: 0 0 0.6875rem;
                    margin-right: 1.2rem;
                    @include respond-to(sm){
                        position: absolute;
                        left: -1.95rem;
                    }
                }
                b{
                    font-weight: 700;
                    font-size: 0.75rem;
                    text-transform: uppercase;
                    margin-right: 0.1rem;
                }
                span{
                    font-family: $font-family-heading;
                    font-size: 0.875rem;
                    line-height: 1.6rem;
                    margin-bottom: -0.3rem;
                    display: inline-block;
                    letter-spacing: 0.5px;
                    margin-right: 1.3rem;
                    @include respond-to(sm){
                        flex: 0 0 100%;
                    }
                }
            }
        }
        .text-italic {
            font-weight: 500;
            font-style: italic;
            font-size: 0.8125rem;
            line-height: 1.375rem;
            margin-bottom: 1.4rem;
            @include respond-to(sm){
                margin-bottom: 0.7rem;
            }
        }
    }
}
// ----- /CARDS ----- //
// 