// ----- FOOTER ----- //
.footer{
    background-color: $purple;
    color: $white;
    .social{
        @include flex;
        margin-bottom: 3.6rem;
        @include respond-to(md){
            margin-bottom: 2.15rem;
        }
        a{
            width: 3.125rem;
            height: 3.125rem;
            flex: 0 0 3.125rem;
            @include flex-center-center;
            @include border-radius(50%);
            margin-right: 0.625rem;
            @include respond-to(md){
                width: 2.1875rem;
                height: 2.1875rem;
                flex: 0 0 2.1875rem;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .footer-menu{
        margin-top: -0.2rem;
        @include respond-to(md){
            margin-top: -0.7rem;
        }
        li{
            font-size: 1.25rem;
            line-height: 1.875rem;
            @include respond-to(md){
                font-size: 1rem;
                line-height: 1.375rem;
            }
        }
        a{
            color: $white;
            &:hover{
                color: $yellow;
            }
        }
    }
    h3{
        color: $white;
        margin-bottom: 1.4rem;
    }
    .footer-content {
        padding-top: 3.5rem;
        padding-bottom: 3.1rem;
        @include respond-to(md){
            padding-top: 1.4rem;
            padding-bottom: 0.2rem;
        }
        .col{
            @include respond-to(md){
                flex: 0 0 56%;
                max-width: 56%;
                padding-right: 1rem;
            }
            &:first-child{
                flex: 0 0 33.4%;
                max-width: 33.4%;
                @include respond-to(md){
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
            &:nth-child(2){
                flex: 0 0 25%;
                max-width: 25%;
                @include respond-to(md){
                    flex: 0 0 44%;
                    max-width: 44%;
                    padding-right: 0;
                }
            }
        }
        h3{
            @include respond-to(md){
                font-size: 1rem;
                line-height: 1.375rem;
                margin-bottom: 1rem;
            }
        }
        .row{
            @include respond-to(md){
                margin: 0 -1.4rem;
            }
        }
    }
    .footer-badge{
        width: 9.0625rem;
        height: 3.4375rem;
        object-fit: contain;
        @include respond-to(md){
            display: none;
        }
    }
    .copy{
        margin-top: 1.6rem;
        @include respond-to(md){
            font-size: 1rem;
            line-height: 1.375rem;
            margin-top: 1.2rem;
        }
    }
    .footer-badge-mob{
        display: none;
        @include respond-to(md){
            display: block;
            margin-top: 2.3rem;
            width: 5.9375rem;
            height: 2.25rem;
            object-fit: contain;
        }
    }
}
// ----- /FOOTER ----- //
// 