// ----- ICONS ----- //
.icon{
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    &--cloud-gold{
        background-image: url(../img/icon-cloud-gold.png);
    }
    &--cloud-mauve{
        background-image: url(../img/icon-cloud-mauve.png);
    }
    &--cloud-pink{
        background-image: url(../img/icon-cloud-pink.png);
    }
    &--cloud-purple{
        background-image: url(../img/icon-cloud-purple.png);
    }
    &--cloud-yellow{
        background-image: url(../img/icon-cloud-yellow.png);
    }
    &--cloud-white{
        background-image: url(../img/icon-cloud-white.png);
    }
    &--curl-gold{
        background-image: url(../img/icon-curl-gold.png);
    }
    &--curl-mauve{
        background-image: url(../img/icon-curl-mauve.png);
    }
    &--curl-pink{
        background-image: url(../img/icon-curl-pink.png);
    }
    &--curl-purple{
        background-image: url(../img/icon-curl-purple.png);
    }
    &--curl-yellow{
        background-image: url(../img/icon-curl-yellow.png);
    }
    &--curl-white{
        background-image: url(../img/icon-curl-white.png);
    }
    &--heart-gold{
        background-image: url(../img/icon-heart-gold.png);
    }
    &--heart-mauve{
        background-image: url(../img/icon-heart-mauve.png);
    }
    &--heart-pink{
        background-image: url(../img/icon-heart-pink.png);
    }
    &--heart-purple{
        background-image: url(../img/icon-heart-purple.png);
    }
    &--heart-yellow{
        background-image: url(../img/icon-heart-yellow.png);
    }
    &--heart-white{
        background-image: url(../img/icon-heart-white.png);
    }
    &--lets-talk-gold{
        background-image: url(../img/icon-lets-talk-about-gold.png);
    }
    &--lets-talk-mauve{
        background-image: url(../img/icon-lets-talk-about-mauve.png);
    }
    &--lets-talk-pink{
        background-image: url(../img/icon-lets-talk-about-pink.png);
    }
    &--lets-talk-purple{
        background-image: url(../img/icon-lets-talk-about-purple.png);
    }
    &--lets-talk-yellow{
        background-image: url(../img/icon-lets-talk-about-yellow.png);
    }
    &--lets-talk-white{
        background-image: url(../img/icon-lets-talk-about-white.png);
    }
    &--speech-bubble-gold{
        background-image: url(../img/icon-speech-bubble-gold.png);
    }
    &--speech-bubble-mauve{
        background-image: url(../img/icon-speech-bubble-mauve.png);
    }
    &--speech-bubble-pink{
        background-image: url(../img/icon-speech-bubble-pink.png);
    }
    &--speech-bubble-purple{
        background-image: url(../img/icon-speech-bubble-purple.png);
    }
    &--speech-bubble-yellow{
        background-image: url(../img/icon-speech-bubble-yellow.png);
    }
    &--speech-bubble-white{
        background-image: url(../img/icon-speech-bubble-white.png);
    }
    &--squiggle-gold{
        background-image: url(../img/icon-squiggle-gold.png);
    }
    &--squiggle-mauve{
        background-image: url(../img/icon-squiggle-mauve.png);
    }
    &--squiggle-pink{
        background-image: url(../img/icon-squiggle-pink.png);
    }
    &--squiggle-purple{
        background-image: url(../img/icon-squiggle-purple.png);
    }
    &--squiggle-yellow{
        background-image: url(../img/icon-squiggle-yellow.png);
    }
    &--squiggle-white{
        background-image: url(../img/icon-squiggle-white.png);
    }
    &--grad-white{
        background-image: url(../img/icon-grad-white.jpg);
    }
    &--grad{
        background-image: url(../img/icon-grad.png);
    }
    &--purple-white{
        background-image: url(../img/icon-purple-white.jpg);
    }
    &--purple{
        background-image: url(../img/icon-purple.png);
    }
    &--white{
        background-image: url(../img/icon-white.png);
    }
    &--grad-gold{
        background-image: url(../img/icon-grad-gold.jpg);
    }
    &--grad-yellow{
        background-image: url(../img/icon-grad-yellow.jpg);
    }
}
// ----- /ICONS ----- //
// 