// ----- MODAL ----- //
.modal{
    visibility: hidden;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.2s linear;
    opacity: 0;
    &.show{
        visibility: visible;
        opacity: 1;
        transition: 0.2s linear;
        .modal-wrapper{
            transform: none;
            opacity: 1;
            transition: transform .3s ease-out;
        }
    }
    .modal-wrapper{
        max-width: 58.3125rem;
        margin: 1.75rem auto;
        min-height: calc(100% - 3.5rem);
        @include flex;
        align-items: center;
        transition: transform .3s ease-out;
        transform: translateY(-10%);
        opacity: 0;
        position: relative;
        @include respond-to(md){
            max-width: 45.3125rem;
        }
        @include respond-to(sm){
            max-width: 21.5rem;
        }
    }
    .modal-content{
        background-color: $mauve_tint;
        position: relative;
        @include flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        pointer-events: auto;
        padding: 4.9375rem 6.1rem;
        @include respond-to(md){
            padding: 4.9375rem 3.1rem;
        }
        @include respond-to(sm){
            padding: 2.2375rem 1rem 2.5rem;
        }
    }
    .btn-close{
        position: absolute;
        right: 1rem;
        width: 1rem;
        height: 1rem;
        top: 1.1rem;
        z-index: 100;
        @include respond-to(sm){
            top: 0.8rem;
            right: 0.8rem;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    h3{
        color: $purple;
        margin-bottom: 0.4rem;
        @include respond-to(sm){
            margin-bottom: 0.8rem;
        }
    }
    p{
        font-size: 1.25rem;
        line-height: 1.875rem;
        @include respond-to(sm){
            font-size: 1rem;
            line-height: 1.375rem;
        }
    }
    form{
        width: 100%;
        max-width: 28rem;
        margin-top: 0.8rem;
        margin-bottom: 2.8rem;
        @include respond-to(sm){
            margin-top: 0.6rem;
            margin-bottom: 1.5rem;
        }
        .formfield {
            margin-bottom: 0.5rem;
            input {
                padding-left: 0.9rem;
                &::placeholder{
                    color: $dark_grey;
                }
            }
            &--form-check{
                padding-left: 2.4rem;
                .form-check-input {
                    background-color: $white;
                    border-color: $white;
                    width: 1.25rem;
                    flex: 0 0 1.25rem;
                    height: 1.25rem;
                    margin-left: -2.4rem;
                    margin-right: 0.9rem;
                    margin-top: 0.1rem;
                    &:checked{
                        background-image: url("data:image/svg+xml,%3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4L5 8L12 1' stroke='%238047B0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                    }
                }
            }
        }
        .btn--yellow{
            margin-top: 1.2rem;
            padding: 0.575rem 1.3rem;
            margin-bottom: 1.8rem;
            @include respond-to(sm){
                margin-top: 0.4rem;
                margin-bottom: 1.2rem;
            }
        }
    }
    .btn--link-underline{
        color: $dark_grey;
        font-size: 1rem;
        font-family: $font-family-base;
        letter-spacing: 0;
        text-transform: none;
        margin-left: 0.2rem;
    }
    &--sign-up{
        .modal-content{
            padding: 0;
        }
        .modal-body{
            @include flex;
            position: relative;
            overflow: hidden;
            &::after{
                content: '';
                position: absolute;
                width: 23.3125rem;
                height: 23.125rem;
                bottom: -6rem;
                right: 5rem;
                background-image: url(../img/icon-heart-yellow.png);
                background-repeat: no-repeat;
                background-size: contain;
                @include respond-to(sm){
                    display: none;
                }
            }
        }
        .col{
            &--form{
                flex: 0 0 40rem;
                max-width: 40rem;
                padding: 6.5rem 5rem 6.5rem 6.1rem;
                @include respond-to(sm){
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding: 2rem 1.0625rem 2rem 1.0625rem;
                }
            }
            &--image{
                flex: 1;
                @include respond-to(sm){
                    display: none;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        h2{
            color: $purple;
            font-size: 2.5rem;
            line-height: 3.125rem;
            font-weight: 500;
            margin-bottom: 1.5rem;
            @include respond-to(sm){
                font-size: 1.25rem;
                line-height: 1.625rem;
                margin-bottom: 1.0625rem;
            }
        }
        h5{
            font-size: 1.25rem;
            line-height: 1.875rem;
            font-weight: 400;
            font-family: $font-family-base;
            @include respond-to(sm){
                font-size: 1rem;
                line-height: 1.375rem;
            }
        }
        form{
            margin-top: 3.1rem;
            max-width: 22rem;
            margin-bottom: 2.84rem;
            @include respond-to(sm){
                margin-top: 1.125rem;
                margin-bottom: 1.125rem;
            }
            .btn{
                margin-top: 0.9rem;
                padding: 0.575rem 3.3rem;
                margin-bottom: 1.2rem;
                @include respond-to(sm){
                    margin-bottom: 0;
                }
            }
        }
        p{
            font-size: 1rem;
            line-height: 1.375rem;
            max-width: 22rem;
        }
        .btn-close{
            width: 1.5625rem;
            height: 1.5625rem;
            right: 1.5rem;
            top: 1.8rem;
            @include respond-to(sm){
                width: 1rem;
                height: 1rem;
                right: 0.875rem;
                top: 0.875rem;
            }
        }
    }
    &--dates{
        .modal-wrapper{
            max-width: 46.2rem;
            @include respond-to(sm){
                max-width: 21.5rem;
            }
        }
        .modal-content{
            padding: 2.2rem 3.7rem 4.6rem;
            @include respond-to(sm){
                padding: 2.2375rem 1rem 2.5rem;
            }
        }
        h3{
            color: $dark_grey;
            margin-bottom: 0.6rem;
        }
        .date-item{
            @include flex;
            align-items: center;
            border-bottom: 1px solid rgb(151 151 151 / 50%);
            width: 100%;
            padding-top: 1.875rem;
            padding-bottom: 0.875rem;
            p{
                margin-bottom: 0;
            }
            .btn{
                margin-left: auto;
                padding: 0.575rem 4.4625rem;
                @include respond-to(sm){
                    padding: 0.575rem 0.6625rem;
                }
            }
        }
    }
    &--send-enquiry{
        .modal-content{
            padding: 4.9375rem 6.1rem 4rem;
            @include respond-to(sm){
                padding: 2.4rem 1.1rem 2.4rem;
            }
        }
        p{
            @include respond-to(sm){
                font-size: 1.125rem;
            }
        }
        form{
            max-width: 41.4rem;
            margin-bottom: 1.3rem;
            @include respond-to(sm){
                margin-top: 1.7rem;
                margin-bottom: 1.5rem;
            }
            .formfield{
                input, textarea{
                    padding-left: 1.2rem;
                    @include respond-to(sm){
                        padding-left: 0.8rem;
                    }
                    &::placeholder{
                        color: $black;
                    }
                }
                &--textarea{
                    height: 5.3375rem;
                    @include respond-to(sm){
                        height: 6.4375rem;
                    }
                    .formfield-input{
                        padding-top: 0.9rem;
                    }
                }
            }
            .btn--yellow{
                margin-top: 1.4rem;
                width: 15.5rem;
                margin-bottom: 2.2rem;
                @include respond-to(sm){
                    margin-top: 0.6rem;
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
    &--follow{
        .modal-content{
            padding-bottom: 7.2rem;
            @include respond-to(sm){
                padding-bottom: 2.5rem;
            }
        }
        form{
            margin-left: -0.4rem;
            max-width: 43rem;
            margin-bottom: 0;
            @include respond-to(sm){
                margin-left: 0;
            }
            .formfield-wrap {
                @include flex;
                width: 100%;
                padding-left: 0.6rem;
                margin-bottom: 0.9rem;
                @include respond-to(sm){
                    padding-left: 0;
                }
                .link-wrap{
                    margin-left: auto;
                    flex: 0 0 23.6%;
                    max-width: 23.6%;
                    @include flex;
                    align-items: center;
                    @include respond-to(sm){
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
            }
            .formfield{
                &--form-check{
                    flex: 0 0 auto;
                    @include respond-to(sm){
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                    .form-check-input{
                        margin-left: -2.5rem;
                        margin-right: 1rem;
                    }
                }
                .formfield-input{
                    padding-left: 1.2rem;
                }
            }
            .formfields{
                margin-top: 1.5rem;
                max-width: 41.3rem;
                margin-bottom: 3rem;
                @include respond-to(sm){
                    margin-bottom: 1.5rem;
                }
            }
            .btn--link-underline{
                line-height: 1.45rem;
                margin-top: -0.2rem;
                @include respond-to(sm){
                    margin-left: 2.1rem;
                }
            }
            .btn--yellow{
                margin-top: 1.7rem;
                margin-left: 0.4rem;
                width: 15.5rem;
                margin-bottom: 0;
                @include respond-to(sm){
                    margin-top: 1rem;
                }
            }
        }
        p{
            margin-bottom: 0;
        }
        
    }
    &--book{
        .modal-content{
            padding: 3.9rem 5.4rem 3.2rem;
            @include respond-to(sm){
                padding: 3.4rem 2.2rem 1.4rem 2rem;
            }
        }
        .btn--yellow{
            margin-top: 0.3rem;
            padding: 0.575rem 0.6625rem;
        }
        p{
            @include respond-to(sm){
                font-size: 1.25rem;
                line-height: 1.875rem;
            }
        }
        h3{
            @include respond-to(sm){
                margin-bottom: 0.9rem;
            }
        }
    }
    &--refer {
        .btn-close {
            right: 1.9rem;
            top: 1.7rem;
            @include respond-to(sm) {
                right: 0.8rem;
                top: 1.6rem;
            }
        }
        h6 {
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.375rem;
            margin-bottom: 1.3rem;
            @include respond-to(sm) {
                margin-bottom: 1.4rem;
            }
        }
        .modal-content {
            padding: 4.3rem 6.1rem;
            @include respond-to(sm) {
                padding: 3rem 2.15rem 3.4rem 2.45rem;
            }
        }
        h3 {
            margin-bottom: 1.1rem;
            @include respond-to(sm) {
                font-size: 1.5625rem;
                line-height: 2.1875rem;
            }
        }
        p {
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.375rem;
            a {
                color: $purple;
                text-decoration: underline;
            }
        }
        form {
            margin-left: 0rem;
            max-width: 41.4rem;
            margin-bottom: 2rem;
            margin-top: 1.7rem;
            @include respond-to(sm) {
                margin-top: 2.1rem;
                margin-bottom: 1.8rem;
            }
            .formfield {
                margin-bottom: 1.7rem;
                .formfield-input {
                    @include respond-to(sm) {
                        padding-left: 0.8rem;
                    }
                    &::placeholder {
                        color: $grey;
                    }
                }
            }
            p {
                margin-right: -3rem;
                @include respond-to(sm) {
                    margin-right: 0rem;
                }
            }
            .btn--yellow {
                margin-top: 2rem;
                margin-left: 0rem;
                @include respond-to(sm) {
                    margin-top: 2.4rem;
                    margin-left: 0.6rem;
                }
            }
        }
    }
}
// ----- /MODAL ----- //
// 