// ----- SIGN IN FORM ----- //
.sign-in-form{
    @include flex;
    h3{
        color: $purple;
        margin-bottom: 1rem;
        flex: 0 0 100%;
        @include respond-to(sm){
            font-size: 1.5625rem;
            line-height: 2.1875rem;
            margin-bottom: 0.6rem;
        }
    }
    h5{
        margin-bottom: 1.2rem;
        @include respond-to(sm){
            margin-bottom: 0.9rem;
        }
    }
    .col{
        &--left{
            flex: 0 0 45.7%;
            max-width: 45.7%;
            margin-right: 6.1rem;
            @include respond-to(sm){
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 3.4rem;
            }
        }
    }
    .formfield{
        margin-bottom: 0.7rem;
        .formfield-input{
            padding-left: 0.6rem;
        }
    }
    .link{
        display: block;
        margin-top: 1.4rem;
        @include respond-to(sm){
            margin-top: 1.1rem;
        }
    }
    .btn{
        margin-top: 0;
        margin-bottom: 1.3rem;
        padding: 0.575rem 1.7625rem;
    }
    form{
        @include respond-to(sm){
            margin-top: 1.1rem;
        }
        .btn{
            margin-top: 1.7rem;
            padding: 0.575rem 2.5625rem;
            margin-bottom: 0;
            @include respond-to(sm){
                margin-top: 1.3rem;
            }
        }
    }
}
// ----- /SIGN IN FORM ----- //
// 