// ----- TAG ----- //
.tag{
    border: 1px solid rgb(151 151 151 / 50%);
    @include border-radius(0.125rem);
    font-family: $font-family-base;
    font-weight: 400;
    color: $dark_grey;
    font-size: 1rem;
    text-align: center;
    padding: 0.25rem 0.84rem;
    &--small{
        font-size: 0.8125rem;
        line-height: 0.8125rem;
        padding: 0.25rem 0.3rem;
    }
    &--pink-tint{
        background-color: $pink_tint;
        border-color: $pink_tint;
    }
}
// ----- TAG ----- //
// 