// ----- TICKETS ----- //
.tickets{
    background-color: $mauve_tint;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.05);
    padding: 2.1rem 3.8rem;
    @include respond-to(lg){
        padding: 2.1rem 1.9rem;
    }
    @include respond-to(sm){
        padding: 0.8rem 0.9rem 1.3rem 1.2rem;
    }
    p{
        margin-bottom: 0.3rem;
        @include respond-to(sm){
            margin-bottom: 1.2rem;
        }
    }
    h3{
        color: $purple;
        margin-bottom: 1.4rem;
        @include respond-to(sm){
            font-size: 1rem;
            line-height: 1.375rem;
        }
    }
    .tickets-title{
        @include flex;
        align-items: center;
        margin-bottom: 2rem;
        @include respond-to(sm){
            align-items: flex-start;
            margin-bottom: -0.2rem;
        }
        .logo-img{
            margin-left: auto;
            @include respond-to(sm){
                margin-right: -0.4rem;
                margin-top: -0.1rem;
            }
        }
        > div{
            @include respond-to(sm){
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }
    .tickets-item{
        @include flex;
        align-items: flex-start;
        border-bottom: 1px solid rgb(151 151 151 / 50%);
        min-height: 4.7rem;
        padding: 1.125rem 0 0.75rem;
        @include respond-to(sm){
            padding-bottom: 0.9rem;
            padding-top: 1rem;
            margin-bottom: 0;
            position: relative;
            min-height: 6.3rem;
        }
        p{
            margin-bottom: 0.3rem;
            margin-top: 0rem;
            @include respond-to(sm){
                padding-right: 5rem;
                margin-top: 0.2rem;
                margin-bottom: 0rem;
            }
        }
        .price{
            font-size: 1rem;
            line-height: 1.375rem;
            margin-top: 0.7rem;
            @include respond-to(sm){
                margin-top: 0;
                margin-left: auto;
                align-self: flex-start;
            }
        }
        > div:first-child{
            flex: 0 0 55.8%;
            max-width: 55.8%;
            @include respond-to(sm){
                flex: 0 0 79.2%;
                max-width: 79.2%;
            }
        }
        &--total{
            justify-content: flex-end;
            min-height: 1rem;
            padding-bottom: 1.2rem;
            .price{
                margin-left: 2.3rem;
                margin-top: 0;
            }
            > div:first-child{
                flex: 0 0 auto;
                max-width: 100%;
            }
            .item-title{
                margin-top: 0;
                font-family: $font-family-base;
                font-weight: 700;
            }
        }
    }
    .item-title{
        font-family: $font-family-heading;
        font-size: 1rem;
        line-height: 1.375rem;
        font-weight: 500;
        margin-top: 0.6rem;
        @include respond-to(sm){
            margin-top: 0;
            max-width: 11rem;
        }
        .icon{
            margin-left: 0.2rem;
            display: inline-block;
            vertical-align: -0.05rem;
        }
    }
    .formfield--select {
        flex: 0 0 4.25rem;
        max-width: 4.25rem;
        margin-left: auto;
        padding: 0.5rem 0.7rem;
        background-position-x: 82%;
        @include respond-to(sm){
            margin-top: 0.4rem;
            max-width: 3.6875rem;
            flex: 0 0 3.6875rem;
            background-position-x: 76%;
            position: absolute;
            right: 0;
            top: 2.4rem;
        }
    }
    .tag{
        margin-top: 0.65rem;
    }
    .btn{
        margin-top: 1.5rem;
        @include respond-to(sm){
            margin-top: 1.2rem;
        }
    }
    .tickets-content{
        padding-top: 0.2rem;
        max-width: 44.75rem;
        .tickets-item{
            > div:first-child{
                flex: 0 0 10.5rem;
                max-width: 10.5rem;
                @include respond-to(sm){
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
            .formfield--select {
                margin-left: 0.3rem;
                flex: 0 0 3.6rem;
                max-width: 3.6rem;
                padding: 0.5rem 0.5rem;
                background-position-x: 74%;
                @include respond-to(sm){
                    position: static;
                    margin-left: 0.2rem;
                }
            }
            .price{
                margin-left: auto;
                @include respond-to(sm){
                    position: absolute;
                    right: 0;
                }
            }
            &--total{
                @include respond-to(sm){
                    padding-top: 1.7rem;
                }
                > div:first-child{
                    flex: 0 0 auto;
                    max-width: 100%;
                }
                .price{
                    margin-left: 2.3rem;
                    margin-top: 0;
                    @include respond-to(sm){
                        position: static;
                    }
                }
                .item-title{
                    margin-top: 0;
                }
            }
        }
    }
    .sign-in-form {
        margin-top: 4.6rem;
        margin-bottom: 1.2rem;
        @include respond-to(sm){
            margin-top: 1.7rem;
        }
    }
    &--text{
        padding-top: 2.625rem;
        padding-bottom: 2.6rem;
        margin-bottom: 1.7rem;
        
        h5{
            margin-bottom: 1.2rem;
            font-weight: 500;
        }
        p{
            max-width: 40rem;
            margin-bottom: 1.4rem;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &--details{
        padding-top: 2.9rem;
        padding-bottom: 3.3rem;
        @include respond-to(sm){
            padding-top: 1.8rem;
            padding-left: 1.1rem;
        }
        form{
            margin-top: 2.8rem;
            @include respond-to(sm){
                margin-top: 1.3rem;
            }
            p{
                margin-top: 1.05rem;
                margin-bottom: 1.2375rem;
                @include respond-to(sm){
                    margin-top: 0.95rem;
                    margin-bottom: 0.6375rem;
                }
                &:last-of-type{
                    margin-top: 2.8rem;
                    margin-bottom: 1rem;
                    @include respond-to(sm){
                        margin-top: 1.4375rem;
                        margin-bottom: 1.875rem;
                    }
                }
            }
        }
        h4{
            color: $purple;
            margin-bottom: 1.1rem;
            @include respond-to(sm){
                font-size: 1.25rem;
                line-height: 1.625rem;
                margin-bottom: 0.5rem;
            }
        }
        h5{
            color: $purple;
            margin-bottom: 0.55rem;
            margin-top: 2.8rem;
            @include respond-to(sm){
                margin-bottom: 0.65rem;
            }
            &:first-child{
                margin-top: 0;
            }
        }
        .formfield{
            max-width: 42.4rem;
            margin-bottom: 0.7rem;
            .formfield-input{
                padding-left: 0.6rem;
            }
            &--form-check{
                padding-left: 2.4375rem;
                margin-bottom: 1rem;
                @include respond-to(sm){
                    margin-bottom: 1.125rem;
                }
                .form-check-input{
                    background-color: $white;
                    border-color: $white;
                    width: 1.25rem;
                    height: 1.25rem;
                    flex: 0 0 1.25rem;
                    margin-top: 0.1rem;
                    margin-left: -2.5rem;
                    margin-right: 1.1875rem;
                    &:checked{
                        background-color: $pink;
                    }
                }
            }
            &--textarea{
                margin-bottom: 1.8rem;
                @include respond-to(sm){
                    margin-bottom: 1.4375rem;
                }
            }
        }
        .btn{
            margin-top: 1.1rem;
        }
        p{
            @include respond-to(sm){
                margin-bottom: 1rem;
            }
        }
    }
    &--payment{
        padding-top: 2.7rem;
        padding-right: 6rem;
        padding-bottom: 3.1rem;
        margin-bottom: 3rem;
        @include respond-to(sm){
            margin-bottom: 2.9rem;
        }
        h3{
            margin-bottom: 0.7rem;
            @include respond-to(sm){
                margin-bottom: 0.4rem;
            }
        }
    }
    &--invite{
        text-align: center;
        padding: 2.9rem 3.8rem 2.8rem;
        margin-bottom: 2.7rem;
        @include respond-to(sm){
            padding: 0.9rem 0.8rem 1.5rem;
            margin-bottom: 1rem;
        }
        h3{
            margin-bottom: 2rem;
            @include respond-to(sm){
                text-transform: uppercase;
                font-size: 1.25rem;
                line-height: 1.625rem;
                margin-bottom: 1.4rem;
            }
        }
        .social{
            @include flex;
            justify-content: center;
            margin-top: 2rem;
            @include respond-to(sm){
                margin-top: 1.8rem;
            }
            a{
                width: 3rem;
                height: 3rem;
                flex: 0 0 3rem;
                margin: 0 0.8rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        .lead{
            @include respond-to(sm){
                font-size: 1.25rem;
                line-height: 1.875rem;
            }
        }
    }
    &--order{
        padding: 2.9rem 3.8rem 5.1rem;
        margin-bottom: 2rem;
        @include respond-to(sm){
            padding: 1rem 1rem 1.1rem;
        }
        .card--expanded{
            margin-top: -0.4rem;
            .card-info{
                margin-top: 0.8rem;
                @include respond-to(sm){
                    margin-top: 1.3rem;
                }
            }
            .card-title{
                margin-bottom: 0.5rem;
                @include respond-to(sm){
                    margin-top: 2.6rem;
                    padding: 0 0.2rem;
                    margin-bottom: 0rem;
                }
                > img{
                    @include respond-to(sm){
                        margin-bottom: 0.8rem;
                    }
                }
            }
            .card-head{
                padding-bottom: 2.4rem;
                @include respond-to(sm){
                    padding-bottom: 1.4rem;
                }
            }
        }
        
    }
}
// ----- /TICKETS ----- //
// 