// ----- BLOCK IMAGE CONTENT ----- //
.block-image-content{
    padding-top: 4.6rem;
    padding-bottom: 6rem;
    @include respond-to(sm){
        padding-top: 2.15rem;
        padding-bottom: 2.2rem;
    }
    h2{
        max-width: 34rem;
        margin: 0 auto 5.4rem;
        color: $purple;
        text-align: center;
        @include respond-to(sm){
            margin-bottom: 2.3rem;
        }
    }
    .container{
        @media(min-width: 1200px){
            max-width: 76.4875rem;
        }
    }
    .row{
        align-items: center;
    }
    .image-wrap{
        position: relative;
        width: 100%;
        height: 22.8rem;
        @include respond-to(sm){
            height: 18rem;
            margin-bottom: 0.9rem;
        }
        @include respond-to(xs){
            height: 13rem;
        }
        &::before{
            content: '';
            background-image: url(../img/icon-heart-white.png);
            background-repeat: no-repeat;
            width: 18.9375rem;
            height: 19rem;
            background-size: contain;
            position: absolute;
            left: -4.4rem;
            top: -0.4rem;
            opacity: 0.45;
            @include respond-to(sm){
                width: 10.8125rem;
                height: 10.875rem;
                left: -2.6rem;
                top: -0.3rem;
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    h3{
        color: $purple;
        margin-bottom: 0.7rem;
        @include respond-to(sm){
            margin-bottom: 0.5rem;
        }
    }
    .col{
        flex: 0 0 50%;
        max-width: 50%;
        @include respond-to(sm){
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .content-col{
        padding-left: 7.6rem;
        @include respond-to(lg){
            padding-left: 3.6rem;
        }
        @include respond-to(sm){
            padding-left: 1.5rem;
        }
    }
    .btn{
        padding: 0.575rem 2.9rem;
        margin-top: 1rem;
        margin-bottom: 1.1rem;
        @include respond-to(sm){
            width: 100%;
            margin-top: 1.3rem;
            margin-bottom: 0;
        }
    }
}
.block-pnd-support{
    @include respond-to(sm){
        padding-bottom: 2.9rem;
    }
    .image-wrap {
        @include respond-to(sm){
            margin-bottom: 0.5rem;
        }
        @include respond-to(xs){
            height: 13.4rem;
        }
    }
    h3 {
        @include respond-to(sm){
            text-transform: uppercase;
            margin-bottom: 0.6rem;
        }
    }
    .btn {
        @include respond-to(sm){
            margin-top: -0.1rem;
        }
    }
    p {
        @include respond-to(sm){
            line-height: 1.375rem;
        }
    }
}
// ----- /BLOCK IMAGE CONTENT ----- //
// 