// ----- BLOCK BANNER ----- //
.block-banner{
    position: relative;
    overflow: hidden;
    z-index: 1;
    &--activity{
        background-color: $pink_tint;
        padding-top: 4.6rem;
        padding-bottom: 6.8rem;
        @include respond-to(sm){
            padding-top: 1.45rem;
            padding-bottom: 1.3rem;
        }
        &::after{
            content: '';
            background-image: url(../img/icon-curl-pink.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 48.125rem;
            height: 53.125rem;
            position: absolute;
            top: -4rem;
            right: -3.9rem;
            opacity: 0.1;
            z-index: -1;
            @include respond-to(sm){
                width: 20.3125rem;
                height: 20.3125rem;
                top: auto;
                bottom: -0.7rem;
                right: -3.6rem;
            }
        }
        .container{
            @media(min-width: 1200px){
                max-width: 76.5rem;
            }
        }
        .col{
            flex: 0 0 50%;
            max-width: 50%;
            @include respond-to(sm){
                flex: 0 0 100%;
                max-width: 100%;
            }
            &:last-child{
                padding-left: 1.4rem;
                padding-top: 0.3rem;
            }
        }
    }
    h2{
        color: $purple;
        margin-bottom: 1.4rem;
        @include respond-to(sm){
            margin-bottom: 1rem;
        }
    }
    h3{
        @include respond-to(sm){
            font-size: 1rem;
            line-height: 1.375rem;
            padding-right: 3rem;
            margin-bottom: 0.75rem;
        }
    }
    .btn{
        padding: 0.9rem 2.9rem;
        height: 3.1875rem;
        letter-spacing: 0.5px;
        @include respond-to(sm){
            margin-top: 2.3rem;
            padding: 0.5rem 2.9rem;
            height: 2.375rem;
        }
    }
    p{
        margin-bottom: 1.8rem;
        @include respond-to(sm){
            line-height: 1.375rem;
            margin-bottom: 1.3rem;
        }
    }
    .left-col{
        .btn{
            @include respond-to(sm){
                display: none;
            }
        }
    }
    .right-col{
        .btn{
            display: none;
            @include respond-to(sm){
                display: block;
            }
        }
    }
    &--cta{
        background-color: $mauve_tint;
        padding-top: 3.4rem;
        padding-bottom: 4rem;
        @include respond-to(sm){
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
            margin-bottom: 1.3rem;
        }
        &::after{
            content: '';
            background-image: url(../img/icon-curl-pink.png);
            background-repeat: no-repeat;
            position: absolute;
            background-size: contain;
            right: -6.9rem;
            bottom: -22.3rem;
            opacity: 0.1;
            width: 48.125rem;
            height: 47rem;
            @include respond-to(sm){
                width: 17.75rem;
                height: 17.3125rem;
                bottom: -4rem;
                right: -3.5rem;
                z-index: -1;
            }
        }
        h2{
            color: $dark_grey;
            @include respond-to(sm){
                margin-bottom: 0.8rem;
            }
        }
        .container{
            @media(min-width: 1200px){
                max-width: 76.4rem;
            }
            @include respond-to(sm){
                padding: 0 1.2rem;
            }
        }
        h3{
            margin-bottom: 2.2rem;
            @include respond-to(sm){
                margin-bottom: 1.4rem;
            }
        }
        .btn{
            margin-top: -0.7rem;
            padding: 0.75rem 2.2rem;
            height: 2.8125rem;
            @include respond-to(sm){
                margin-right: 0.1rem;
                margin-left: 0.3rem;
                display: block;
                height: 2.1rem;
                padding: 0.35rem 2.2rem;
            }
        }
    }
    &--jobs{
        background-color: $pink_tint;
        padding-top: 3.5rem;
        padding-bottom: 6.4rem;
        @include respond-to(sm){
            padding-top: 0.8rem;
            padding-bottom: 6.2rem;
        }
        &::after{
            content: '';
            background-image: url(../img/icon-curl-pink.png);
            background-repeat: no-repeat;
            position: absolute;
            background-size: cover;
            right: -7rem;
            bottom: -2.6rem;
            opacity: 0.1;
            width: 37.5625rem;
            height: 28.0625rem;
            @include respond-to(sm){
                right: -3.6rem;
                bottom: -3.5rem;
                width: 20.3125rem;
                height: 16.9375rem;
                z-index: -1;
            }
        }
        h2{
            margin-bottom: 0.8rem;
            @include respond-to(sm){
                margin-bottom: 1rem;
            }
        }
        .col{
            flex: 0 0 70.8%;
            max-width: 70.8%;
            @include respond-to(sm){
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    &--sorry{
        background-color: $mauve_tint;
        padding-top: 2.7rem;
        text-align: center;
        padding-bottom: 2.5rem;
        @include respond-to(xs){
            padding-top: 1rem;
            padding-bottom: 2rem;
        }
        h3{
            color: $purple;
        }
        .row{
            align-items: center;
        }
        .col{
            &--img{
                flex: 0 0 26%;
                max-width: 26%;
                padding-left: 3.9rem;
                @include respond-to(sm){
                    padding-left: 2.5rem;
                }
                @include respond-to(xs){
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding-left: 1.5rem;
                }
                img{
                    max-width: 8.2rem;
                    margin: 0 auto;
                    display: block;
                }
            }
        }
        h3{
            margin-bottom: -0.2rem;
            max-width: 45rem;
            padding-right: 0;
        }
    }
}
// ----- /BLOCK BANNER ----- //
// 