// ----- BLOCK CREATE ACCOUNT ----- //
.block-create-account {
    padding-top: 3.5rem;
    padding-bottom: 6.8rem;
    @include respond-to(sm) {
        padding-top: 2.7rem;
        padding-bottom: 4.6rem;
    }
    h1 {
        color: $purple;
        font-size: 1.5625rem;
        line-height: 2.1875rem;
        font-weight: 500;
        margin-bottom: 1.9rem;
        @include respond-to(sm) {
            margin-bottom: 1.3rem;
        }
    }
    .tickets {
        margin-left: -0.5rem;
        margin-right: 0.2rem;
        padding: 1.6rem 3.4rem 2.1rem;
        @include respond-to(sm) {
            margin: 0;
            padding: 1.2rem 1rem 1.9rem 1.5rem;
        }
        .formfield {
            max-width: 34.5rem;
            margin-bottom: 0.7rem;
            .formfield-input {
                padding: 0 0.5rem;
            }
            &--password {
                max-width: 17.3rem;
                margin-bottom: 1.2rem;
            }
            &--form-check {
                margin-left: 0.2rem;
                margin-top: 1.6rem;
                line-height: 1.8rem;
                margin-bottom: 0.15rem;
                @include respond-to(sm) {
                    line-height: 1.5rem;
                }
                .form-check-input {
                    background-color: $white;
                    border-color: $white;
                    width: 1.25rem;
                    height: 1.25rem;
                    flex: 0 0 1.25rem;
                    margin-right: 1.2rem;
                    &:checked {
                        background-color: $purple;
                        border-color: $purple;
                    }
                }
                .form-check-label {
                    @include respond-to(sm) {
                        margin-top: 0.15rem;
                    }
                }
            }
        }
        h5 {
            color: $purple;
            font-weight: 500;
            margin-bottom: 0.6rem;
        }
        form {
            h5 {
                margin-top: 1.65rem;
                @include respond-to(sm) {
                    margin-top: 1.45rem;
                    margin-bottom: 1rem;
                }
            }
            .btn {
                width: 17.1rem;
                @include respond-to(sm) {
                    margin-top: 1.6rem;
                    width: 17.4rem;
                }
            }
        }
        .grey-text {
            font-weight: 500;
            color: #979797;
            margin-left: 0.5rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
            max-width: 43rem;
            margin-bottom: 1.3rem;
            @include respond-to(sm) {
                margin-bottom: 1.2rem;
            }
        }
    }
    .container {
        @include respond-to(sm) {
            padding: 0 1.8rem;
        }
    }
}
// ----- /BLOCK CREATE ACCOUNT ----- //
// 