// ----- BLOCK BANNER ----- //
.block-banner{
    position: relative;
    overflow: hidden;
    z-index: 1;
    &--activity{
        background-color: $pink_tint;
        padding-top: 4.6rem;
        padding-bottom: 6.8rem;
        &::after{
            content: '';
            background-image: url(../img/icon-curl-pink.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 48.125rem;
            height: 53.125rem;
            position: absolute;
            top: -4rem;
            right: -3.9rem;
            opacity: 0.1;
            z-index: -1;
        }
        .container{
            @media(min-width: 1200px){
                max-width: 76.5rem;
            }
        }
        .col{
            flex: 0 0 50%;
            max-width: 50%;
            &:last-child{
                padding-left: 1.4rem;
                padding-top: 0.3rem;
            }
        }
    }
    h2{
        color: $purple;
        margin-bottom: 1.4rem;
    }
    .btn{
        padding: 0.9rem 2.9rem;
        height: 3.1875rem;
        letter-spacing: 0.5px;
    }
    p{
        margin-bottom: 1.8rem;
    }
}
// ----- /BLOCK BANNER ----- //
// 