// ----- BASE ----- //
// @font-face {
//     font-family: "Filson Soft";
//     src: url("../fonts/filsonSoft/FilsonSoftBold.ttf") format("trueType"),
//         url("../fonts/filsonSoft/FilsonSoftBold.woff2") format("woff2"),
//         url("../fonts/filsonSoft/FilsonSoftBold.woff") format("woff");
//     font-weight: 700;
// }
// @font-face {
//     font-family: "Filson Soft";
//     src: url("../fonts/filsonSoft/FilsonSoftMedium.ttf") format("trueType"),
//         url("../fonts/filsonSoft/FilsonSoftMedium.woff2") format("woff2"),
//         url("../fonts/filsonSoft/FilsonSoftMedium.woff") format("woff");
//     font-weight: 500;
// }
*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}
body{
    -webkit-font-smoothing: antialiased;
    font-family: 'Asap', sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #363A3C;
    margin: 0;
}
.page-wrap{
    overflow: hidden;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
img{
    max-width: 100%;
    width: auto;
    height: auto;
}
button:focus, button:active{
    box-shadow: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.col{
    flex: 1;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-end{
    justify-content: flex-end;
}
.justify-content-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1.15625rem;
    @media(min-width: 768px){
        max-width: 45rem;
    }
    @media(min-width: 992px){
        max-width: 60rem;
    }
    @media(min-width: 1200px){
        max-width: 72.6875rem;
    }
    @media(max-width: 1023px){
        padding: 0 1.5rem;
    }
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.15625rem;
    margin-right: -1.15625rem;
    @media(max-width: 1023px){
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
    .col{
        flex: 1 0 0%;
        padding-left: 1.15625rem;
        padding-right: 1.15625rem;
        width: 100%;
        max-width: 100%;
    }
}
// ----- /BASE ----- //
// 